{% extends "Layout/Layout.html" %}
  {% block head %}
  <title>Administrative Console</title>
  {% endblock %}      
  {% block body %}
  <!DOCTYPE HTML>
  <html>
  <head>
      <script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
              namespace = '/Admin/Console';
              var PlexTime =  (new Date).getTime();
              var ComputeTime =  (new Date).getTime();
              var PCTime =  (new Date).getTime();
              var PiTime =  (new Date).getTime();
              // Connect to the Socket.IO server.
              // The connection URL has the following format:
              //     http[s]://<domain>:<port>[/<namespace>]
              var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
              // Event handler for new connections.
              // The callback function is invoked when a connection with the
              // server is established.
              socket.on('connect', function() {
                  socket.emit('my_event', {data: 'I\'m connected!'});
              });


              // Event handler for server sent data.
              // The callback function is invoked whenever the server emits data
              // to the client. The data is then displayed in the "Received"
              // section of the page.
              //Usable for changing value of the button. How to check if successful?
              //socket.on('CommandResponse', function(msg) {
                //document.getElementById("RestartLarrys-PCButton").value="Working";
              //});


              // Interval function that tests message latency by sending a "ping"
              // message. The server then responds with a "pong" message and the
              // round trip time is measured.
              var ping_pong_times = [];
              var start_time;
              window.setInterval(function() {
                  start_time = (new Date).getTime();
                  socket.emit('my_ping');
              }, 1000);
              // Handler for the "pong" message. When the pong is received, the
              // time from the ping is stored, and the average of the last 30
              // samples is average and displayed.
              socket.on('my_pong', function() {
                  var CurrentPlexTime =  (new Date).getTime() - PlexTime;
                  var CurrentComputeTime =  (new Date).getTime() - ComputeTime;
                  var CurrentPCTime =  (new Date).getTime() - PCTime;
                  var CurrentPiTime =  (new Date).getTime() - PiTime;
                  var latency = (new Date).getTime() - start_time;
                  //Write logic to change text if time >30 seconds

                  ping_pong_times.push(latency);
                  ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                  var sum = 0;
                  for (var i = 0; i < ping_pong_times.length; i++)
                      sum += ping_pong_times[i];
                  $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
              });
              socket.on('PlexData', function(msg) {
                $('#Plex').text('Plex Server Data: CPU usage is ' + msg.CPU + '%, RAM usage is ' + msg.RAM + '%, Uptime is ' + msg.Uptime + ' days.').html();
                $('#MinecraftState').text(msg.MinecraftState).html();
                $('#PlexState').text(msg.PlexState).html();
                PlexTime =  (new Date).getTime();
              });
              socket.on('PCData', function(msg) {
                $('#PC').text('PC Data: CPU usage is ' + msg.CPU + '%, RAM usage is ' + msg.RAM + '%, Uptime is ' + msg.Uptime + ' days.').html();
                $('#TVShowState').text(msg.TVShowState).html();
                $('#MovieState').text(msg.MovieState).html();
                PCTime =  (new Date).getTime();
            });
              socket.on('PIData', function(msg) {
                $('#PI').text('Raspberrypi Data: CPU usage is ' + msg.CPU + '%, RAM usage is ' + msg.RAM + '%, Uptime is ' + msg.Uptime + ' days.').html();
                PiTime =  (new Date).getTime();
              });
              socket.on('ComputeData', function(msg) {
                $('#Compute').text('Compute-Stick Data: CPU usage is ' + msg.CPU + '%, RAM usage is ' + msg.RAM + '%, Uptime is ' + msg.Uptime + ' days.').html();
                ComputeTime =  (new Date).getTime();
              });
              // Handlers for the different forms in the page.
              // These accept data from the user and send it to the server in a
              // variety of ways
              $('form#StartPlex').submit(function(event) {
                  socket.emit('Commands', {data: ('Start Plex Plex-Server')});
                  return false;
              });
              $('form#RestartPlex').submit(function(event) {
                  socket.emit('Commands', {data: ('Restart Plex Plex-Server')});
                  return false;
              });
              $('form#StopPlex').submit(function(event) {
                  socket.emit('Commands', {data: ('Stop Plex Plex-Server')});
                  return false;
              });
              $('form#StartMinecraft').submit(function(event) {
                  socket.emit('Commands', {data: ('Start Minecraft Plex-Server')});
                  return false;
              });
              $('form#RestartMinecraft').submit(function(event) {
                  socket.emit('Commands', {data: ('Restart Minecraft Plex-Server')});
                  return false;
              });
              $('form#StopMinecraft').submit(function(event) {
                  socket.emit('Commands', {data: ('Stop Minecraft Plex-Server')});
                  return false;
              });
              $('form#RestartPlexServer').submit(function(event) {
                  socket.emit('Commands', {data: ('Restart Machine Plex-Server')});
                  return false;
              });
              $('form#RestartRaspberrypi').submit(function(event) {
                  socket.emit('Commands', {data: ('Restart Machine raspberrypi')});
                  return false;
              });
              $('form#RestartComputeStick').submit(function(event) {
                  socket.emit('Commands', {data: ('Restart Machine Compute-Stick')});
                  return false;
              });
              $('form#RestartLarrysPC').submit(function(event) {
                  socket.emit('Commands', {data: ('Restart Machine Larrys-PC')});
                  return false;
              });
          });
      </script>
  </head>
  <body>
    <h1>Admin Console</h1>
    <p>Average latency: <b><span id="ping-pong"></span>ms</b></p>
    <p id="Plex">Plex-Server Data: Loading</p>
    <p id="PlexState">Plex State: Loading</p>
    <p id="MinecraftState">Minecraft State: Loading</p>
    <p id="PC">PC Data: Loading</p>
    <p id="TVShowState">TV Converter State: Loading</p>
    <p id="MovieState">Movie Converter State: Loading</p>
    <p id="PI">Raspberrypi Data: Loading</p>
    <p id="Compute">Compute-Stick Data: Loading</p>
    <form id="StartPlex" method="POST" action='#'>
        <input type="submit" value="Start Plex">
    </form>
    <form id="RestartPlex" method="POST" action='#'>
        <input type="submit" value="Restart Plex">
    </form>
    <form id="StopPlex" method="POST" action='#'>
        <input type="submit" value="Stop Plex">
    </form>
    <form id="StartMinecraft" method="POST" action='#'>
        <input type="submit" value="Start Minecraft">
    </form>
    <form id="RestartMinecraft" method="POST" action='#'>
        <input type="submit" value="Restart Minecraft">
    </form>
    <form id="StopMinecraft" method="POST" action='#'>
        <input type="submit" value="Stop Minecraft">
    </form>
    <form id="RestartPlexServer" method="POST" action='#'>
        <input type="submit" value="Restart Plex-Server">
    </form>
    <form id="RestartRaspberrypi" method="POST" action='#'>
        <input type="submit" value="Restart Raspberrypi">
    </form>
    <form id="RestartComputeStick" method="POST" action='#'>
        <input type="submit" value="Restart Compute-Stick">
    </form>
    <form id="RestartLarrysPC" method="POST" action='#'>
        <input type="submit" id=RestartLarrys-PCButton value="RestartLarrysPC">
      </form>
  </body>
  </html>
  {% endblock %}