@page {
    size: a0 portrait;
    margin: 0;
    padding: 0;
  }
img {
    height: 325px;
}
#herc{
    height: 250px;
    padding: 0%;
    float: right;
}
h1{
    font-weight: bold;
    text-align: center;
}
p{
    text-align: center;
    font-weight: italic;
}
h2 {
    font-weight: bold;
    font-size : 18px;
    text-align: center;
}
h3{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
table, td{ border: 1px solid black

}