
{% extends "Layout/Layout.html" %}
  {% block head %}
   <title>Search Transactions</title>
   <h1><b> Query Results</b></h1>
  {% endblock %}  
  {% block body %}
 <table style="width:100%">
   <h1>
   <tr>
     <td><h2 class="searchHead"><b>Name</b></h2></td>
     <td><h2 class="searchHead"><b>Company</b></h2></td>
     <td><h2 class="searchHead"><b>Date</b></h2></td>
     <td><h2 class="searchHead"><b>Amount</b></h2></td>
  </tr>
  </h1>
{% for item in items %}

   <tr>
     <td><h3 class="searchItem"><b>{{item.Name}} </b></h3> </td>
     <td><h3 class="searchItem"><b> {{item.Company}} </b></h3> </td>
     <td><h3 class="searchItem"><b> {{item.Date}}</b></h3></td>
     <td><h3 class="searchItem"><b> {{item.Amount}} </b></h3> </td>
     <td><input type="button" class = "Edit" id={{item.TransID}}  value="Edit" onclick="window.location='/approve/{{item.TransID}}';"></div></td>
   </tr>
{% endfor %}
</table>
    {% endblock %}  