{% extends "Layout/Layout.html" %}
    {% block head %}
    <title>Andrew's Page</title>
    {% endblock %}
    {% block body %}
    <div class="tab">
    <button class="tablinks" onclick="ChangeTab(event, 'Home')"id="defaultOpen">Home</button>
    <button class="tablinks" onclick="ChangeTab(event, 'Medical Information')">Medical Information</button>
    <button class="tablinks" onclick="ChangeTab(event, 'About Andrew')">About Andrew</button>
  </div>
  
  <div id="Home" class="tabcontent">
		<body>
		{% for file in AndrewPics %}
		<div class="imgAndrew"><img class="mySlides w3-animate-fading" src="{{file}}"></div>
		{% endfor %}
        </body>
  </div>
  <div id="Medical Information" class="tabcontent">
    <h2>Brain Stuff</h2> <br>
  </div>
  <div id="About Andrew" class="tabcontent">
	<h1>Andrew was born on December 31st, 1998.</h1>
    <h2>Favorite Movies, and Music!</h2> <br>
  </div>

<script>
        var slideIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
          }
          slideIndex++;
          if (slideIndex > x.length) {slideIndex = 1} 
          x[slideIndex-1].style.display = "block"; 
          setTimeout(carousel, 7000); // Change image every 7 seconds
        }
    function ChangeTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
    </script>

    {% endblock %}
