{% extends "Layout/Layout.html" %}
  {% block head %}
      <title> Advanced</title>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
  
          var data = google.visualization.arrayToDataTable([

            ['What Was Bought', 'Cost'],            
            ['Work',     11],
            ['Eat',      2],
            ['Commute',  2],
            ['Watch TV', 2],
            ['Sleep',    7]
          ]);
  
          var options = {
            title: 'Money Spent This Month, total {{Total}}'
          };
  
          var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  
          chart.draw(data, options);
        }
      </script>
  {% endblock %}      
  {% block body %}
  
<div class="tab">
    <button class="tablinks" onclick="ChangeTab(event, 'Statistics')"id="defaultOpen">Statistics</button>
    <button class="tablinks" onclick="ChangeTab(event, 'Visual reference')">Visual reference</button>
    <button class="tablinks" onclick="ChangeTab(event, 'Custom Query')">Custom Query</button>
  </div>
  
  <div id="Statistics" class="tabcontent">
    <h1>You have {{CompleteTransaction}} complete transactions</h1>
    <h1>You have {{IncompleteTransaction}} incomplete transactions</h1>
  </div>
  
  <div id="Visual reference" class="tabcontent">
    <h2>There is a graph here</h2> <br>
    <div id="piechart" style="margin: auto; width: 900px; height: 500px;"></div>
  </div>
  
  <div id="Custom Query" class="tabcontent">
    <h1>Custom Query</h1>
    <form action="/Advanced/CustomQuery" method="POST" enctype="multipart/form-data">
      <h2>Select All</h2>
      <input type="checkbox" name="All">
      <br>
      <h2>Or</h2>
      <input type="text" name="Specific">
      <br>
      <input type="radio" name="Math" value="AVG">Average
      <input type="radio" name="Math" value="SUM">Sum
      <input type="radio" name="Math" value="COUNT">Count
      <input type="radio" name="Math" value="None">None
      <br>
      <h2>Where</h2>
      <input type="text" name="Column1"> 
      <h2>Equals</h2> 
      <input type="text" name="Value1">
      <h2>And</h2>
      <input type="text" name="Column2"> 
      <h2>Equals</h2>
      <input type="text" name="Value2">
      <input type="submit">


  </div>

  <script>
    function ChangeTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
    </script>

{% endblock %}



