<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
<link rel="shortcut icon" href="/static/favicon.ico" />
<link rel="stylesheet" media="all" type="text/css" href="/static/static.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="/static/script.js"></script>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Home</a>
    <a href="/newpayment">New Transactions</a>
    <a href="/finishpayment">Incomplete Transactions</a>
    <a href="/searchpayment">Search Transactions</a>
  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
